:root{
    --green:#add149;
}


/* ye sabpe apply hota hai isliye font isi me dal dete hai */
*{
    margin:0; padding:0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

/* Header styles */
section{
    padding:2rem 9%;
}

/* ye btn learn more ke liye  */
.btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background:rgb(0, 0, 0);
    color:#fff;
    padding:.9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
}
.btn:hover{
    background:var(--green);
}
/* yaha header ko class deke bhi kar sakte the */
header{
    position: fixed;
    /*upar wala line likhne se ye nav bar chhota ban gya tha uske liye */
    top:0; left:0; right:0;
    background:#fff;
    padding:2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}
header .logo{
    font-size: 3rem;
    color:rgb(0, 0, 0);
    font-weight: bolder;
}
header .logo span{
    color:var(--green);
}
header .navbar a{
    font-size: 2rem;
    padding:0 1.5rem;
    color:rgb(0, 0, 0);
}
header .navbar a:hover{
    color:var(--green);
}
header .icons a{
    font-size: 2.5rem;
    color:rgb(0, 0, 0);
    margin-left: 1.5rem;
}
header .icons a:hover{
    color:var(--green);
}
header #toggler{
    display: none;
}
header .fa-bars{
    font-size: 3rem;
    color: #000;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
    border: 1px solid rgba(0,0,0,.3);
    display: none;
}
/*.Header styles */

/* Home styles */
.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background:url(./images/f1.png) no-repeat ;
    background-size: 30%;
    background-position: 800px 150px ; 
}
@media only screen and (max-width: 1000px){
    .home{
        background:url(./images/image.png) no-repeat ;
        background-size: 140%;
        background-position: -180px 10px ;
    }
    .home .content h3{
        font-size: 3rem;
        color:black;
    }
}

@media only screen and (max-width: 600px){
    .home{
        background-size: 200%;
        background-position: -180px 100px ; 
    }
}

.home .content{
    max-width: 40rem;
}

.home .content h3{
    font-size: 3rem;
    color:black;
}

.home .content a{
    text-decoration: none;
    padding: 18px 50px;
    border-radius: 30px;
    background: #000000;
    display: inline-block;
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: medium;
    margin-top: 10px;
    box-shadow: 5px 8px 10px rgb(0, 0, 0, 0.1);
}
.home .content a:hover{
    background: var(--green);
}
/*.Home styles */

/* About us styles */

.heading{
    text-align: center;
    font-size: 4rem;
    color:rgb(0, 0, 0);
    padding:1rem;
    margin:2rem 0;   
}
.heading span{
    color:var(--green);
}
.about .row{
    display: flex;
    align-items: center;
    gap:2rem;
    flex-wrap: wrap;
    padding:2rem 0;
    padding-bottom: 3rem;
} 
.about .row .video-container{
    flex:1 1 40rem;
    position: relative;
}
.about .row .video-container video{
    width:100%;
    border:1.5rem solid #fff;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    height: 100%;
    object-fit: cover;
}
.about .row .content{
    flex:1 1 40rem;
}
.about .row .content h3{
    font-size: 3rem;
    color:rgb(0, 0, 0);
}
.about .row .content p{
    font-size: 1.5rem;
    color:rgb(0, 0, 0);
    padding:.5rem 0;
    padding-top: 1rem;
    line-height: 1.5;
}
/*.About us styles */

/* Icons styles */
.icons-container{
    background:#eee;
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.icons-container .icons{
    background:#fff;
    border:.1rem solid rgba(11, 0, 0, 0.1);
    border-radius: 10px;
    padding:2rem;
    display: flex;
    align-items: center;
    flex:1 1 20rem;
}
.icons-container .icons img{
    height:5rem;
    margin-right: 2rem;
}
.icons-container .icons h3{
    color:rgb(0, 0, 0);
    padding-bottom: .5rem;
    font-size: 1.5rem;
}
.icons-container .icons span{
    color:rgb(0, 0, 0);
    font-size: 1.3rem;
}
/*.Icons styles */

/* Dishes styles */
.dishes .box-container{
    display: flex;
    /* ye nhi karoge to sare image ek line mr hi ho jayega aur agar kar doge to jaise hi jagah bhara wo niche aa jayega */
    flex-wrap: wrap;
    gap:1.5rem;
}
.dishes .box-container .box{
    flex:1 1 30rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    border-radius: .5rem;
    border:.1rem solid rgba(0,0,0,.1);
    position: relative;    
}
.dishes .box-container .box .image{
    position: relative;
    text-align: center;
    padding-top: 2rem;
    overflow:hidden;
}
.dishes .box-container .box .image img{
    height:25rem;
}
.dishes .box-container .box:hover .image img{
    transform: scale(1.1);
}
.dishes .box-container .box .image .icons{
    position: absolute;
    bottom:-7rem; left:0; right:0;
    display: flex;
}
.dishes .box-container .box:hover .image .icons{
    bottom:0;
}
.dishes .box-container .box .image .icons a{
    height: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    width:50%;
    background: #000;
    color:#fff;
}
.dishes .box-container .box .image .icons .cart-btn{
    border-left: .1rem solid #fff7;
    border-right: .1rem solid #fff7;
    width:100%;
}
.dishes .box-container .box .image .icons a:hover{
    background:var(--green);
}
.dishes .box-container .box .content{
    padding:2rem;
    text-align: center;
}
.dishes .box-container .box .content h3{
    font-size: 2.5rem;
    color:rgb(0, 0, 0);
}
.dishes .box-container .box .content .price{
    font-size: 2.5rem;
    color:var(--green);
    font-weight: bolder;
    padding-top: 1rem;
}
/*.Dishes styles */

/* Review styles */
.review .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}
.review .box-container .box{
    flex:1 1 30rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    border-radius: .5rem;
    padding:3rem 2rem;
    position: relative;
    border:.1rem solid rgba(0,0,0,.1);
}
.review .box-container .box p{
    color:rgb(0, 0, 0);
    font-size: 1.5rem;
    line-height: 1.5;
    padding-top: 2rem;
}
.review .box-container .box .user{
    display: flex;
    align-items: center;
    padding-top: 2rem;
}
.review .box-container .box .user img{
    height:6rem;
    width:6rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1rem;
}
.review .box-container .box .user h3{
    font-size: 2rem;
    color:rgb(0, 0, 0);
}
.review .box-container .box .user span{
    font-size: 1.5rem;
    color:rgb(0, 0, 0);
}
/*.Review styles */

/* Contact styles */
.contact .row{
    display: flex;
    flex-wrap: wrap-reverse;
    gap:1.5rem;
    align-items: center;
}
.contact .row form{
    flex:1 1 40rem;
    padding:2rem 2.5rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    border:.1rem solid rgba(0,0,0,.1);
    background: #fff;
    border-radius: .5rem;
}
.contact .row .image{
    flex:1 1 50rem;
    opacity: 90%;
}
.contact .row .image img{
    width: 100%;
}
.contact .row form .box{
    padding:1rem;
    font-size: 1.7rem;
    color:rgb(0, 0, 0);
    text-transform: none;
    border:.1rem solid rgba(0,0,0,.1);
    border-radius: .5rem;
    margin:.7rem 0;
    width: 100%;
}
.contact .row form .box:focus{
    border-color: var(--green);
}
.contact .row form textarea{
    height: 15rem;
    resize: none;
}
/*.Contact styles */

/* Footer styles */

.footer .foot .loc{
    border: 0.1px solid black;
    border-radius: 5px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    background:#eee;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
}

@media only screen and (max-width : 835px){
    .footer .foot .loc{
        flex-direction: column;
        padding-bottom: 20px;
    }
}

@media only screen and (max-width : 665px){
    .footer .foot .loc .city{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .footer .foot .loc .city a{
        margin: 5px;
        font-size: 20px;
        background-color: rgba(128, 128, 128, 0.553);
        border-bottom: 2px solid rgba(0, 0, 0, 0.295);
        border-radius: 5px;
    }
}

.footer .foot .loc h1{
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer .foot .loc a{
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

.footer .ll{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 10px;
}
.footer .ll .last a{
    padding-left: 20px;
}
.footer .ll .last a i{
    padding-left: 30px;
    padding-right: 30px;
    padding: 10px;
    font-size: 30px;
    border: 0.1px solid blue;
    border-radius: 15px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}
.footer .ll .last a i:hover{
    background: #add149;
    transform: translateY(2px);
}
/*.Footer styles */

/* Making the page responsive */
@media (max-width:991px){
    
    html{
        font-size: 55%;
    }

    header{
        padding:2rem;
    }
    

    section{
        padding:2rem;
    }
}

@media (max-width:768px){

    header .fa-bars{
        display: block;
    }

    header .navbar{
        position:absolute;
        top:100%; left:0; right:0;
        background:#eee;
        border-top: .1rem solid rgba(0,0,0,.1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header #toggler:checked ~ .navbar{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); 
    }

    header .navbar a{
        margin:1.5rem;
        padding:1.5rem;
        background:#fff;
        border:.1rem solid rgba(0,0,0,.1);
        display: block;
    }

    .icons-container .icons h3{
        font-size: 2rem;
    }
    
    .icons-container .icons span{
        font-size: 1.7rem;
    }

}

@media (max-width:450px){
    
    html{
        font-size: 50%;
    }

    .heading{
        font-size: 3rem;
    }

}



